In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import datetime

In [2]:
def extract_tables(url):
  # Send a GET request to the URL
  response = requests.get(url)

  # Parse the HTML content of the page
  soup = BeautifulSoup(response.content, 'html.parser')

  # Find all table elements on the page
  tables = soup.find_all('table')

  # Initialize an empty list to store the dataframes
  dataframes = []

  # Iterate over the tables
  for table in tables:
    # Convert the table to a dataframe
    df = pd.read_html(str(table))[0]

    # Add the dataframe to the list
    dataframes.append(df)

  # Return the list of dataframes
  return dataframes

In [3]:
def save_dataframe_to_csv_v3(df, file_path, filename):
    # Get the current date
    now = datetime.datetime.now()
    current_date = now.strftime("%Y-%m-%d")
    # Insert the date into the file path
    filename = f"{filename}_{current_date}.csv"
    file_path = os.path.join(file_path, filename)
    df.to_csv(file_path, index=False)
    print(f"Dataframe saved to {file_path}")

In [4]:
def convert_price_string_to_float(df, column_name):
    # extract the numerical part of the string
    df[column_name] = df[column_name].str.extract('(\d+.\d+)')
    # replace the ',' with '.'
    df[column_name] = df[column_name].str.replace(',', '.')
    # convert the column to float
    df[column_name] = df[column_name].astype(float)
    return df
def convert_price_string_to_float_v2(df, column_index):
    # extract the numerical part of the string
    df.iloc[:, column_index] = df.iloc[:, column_index].str.extract('(\d+.\d+)')
    # replace the ',' with '.'
    df.iloc[:, column_index] = df.iloc[:, column_index].str.replace(',', '.')
    # convert the column to float
    df.iloc[:, column_index] = df.iloc[:, column_index].astype(float)
    return df

In [5]:
def extract_gold_price_UK():
    url = "https://www.coininvest.com/en/charts/gold-price/"
    tableAu = extract_tables(url)
    nAu=convert_price_string_to_float_v2(tableAu[0],1)
    save_dataframe_to_csv(nAu,'/Data/Investments/','Au_Spot_UK')
def extract_silver_price_UK():
    url = "https://www.coininvest.com/en/charts/silver-price/"
    tableAg = extract_tables(url)
    nAg=convert_price_string_to_float_v2(tableAg[0],1)
    save_dataframe_to_csv(nAg,'/Data/Investments/','Ag_Spot_UK')

In [6]:
def extract_shops_Au_Ag():
    url = 'https://www.lavetadeoro.com/'
    tableslvo = extract_tables(url)
    AuCoins=convert_price_string_to_float(tableslvo[2],'Precio')
    AuCoins=convert_price_string_to_float(AuCoins,'Premium *')
    AgCoins=convert_price_string_to_float(tableslvo[56],'Precio')
    AgCoins=convert_price_string_to_float(AgCoins,'Premium *')
    AuIngots=convert_price_string_to_float(tableslvo[25],'Precio')
    AuIngots=convert_price_string_to_float(AuIngots,'Premium *')
    save_dataframe_to_csv(AuCoins,'/Data/Investments/','Au_Coins')
    save_dataframe_to_csv(AgCoins,'/Data/Investments/','Ag_Coins')
    save_dataframe_to_csv(AuIngots,'/Data/Investments/','Au_Ingots')

In [7]:
def extract_mtg_sealed():
    url = 'https://www.echomtg.com/set/SEAL/sealed-product/'
    tablesechomtg = extract_tables(url)
    save_dataframe_to_csv(tablesechomtg[0],'/Data/Investments/','MTG_Sealed')

In [8]:
def extract_tennis():
    url = 'https://www.tennisexplorer.com/results/'
    tennis = extract_tables(url)
    save_dataframe_to_csv(tennis[0],'/Data/Bets/','Tennis')

In [9]:
url = "https://www.coininvest.com/en/charts/gold-price/"
# Example usage
#url = 'https://www.lavetadeoro.com/'
tableAu = extract_tables(url)
print(tableAu)
#for table in tables:
#  print(table)

[          Gold Spot Prices        Today       Change
0      Gold price per Gram      57,10 €      57,10 €
1     Gold price per Ounce   1.776,09 €   1.776,09 €
2  Gold price per Kilogram  57.102,62 €  57.102,62 €,                          0            1            2
0      Gold price per Gram      57,10 €      57,10 €
1     Gold price per Ounce   1.776,09 €   1.776,09 €
2  Gold price per Kilogram  57.102,62 €  57.102,62 €]

In [10]:
url = "https://www.coininvest.com/en/charts/silver-price/"
# Example usage
#url = 'https://www.lavetadeoro.com/'
tableAg = extract_tables(url)
print(tableAg)

[          Silver Spot Prices Silver Price Today    Change
0      Silver price per Gram           0,7225 €  0,7200 €
1     Silver price per Ounce            22,47 €   22,47 €
2  Silver price per Kilogram           722,55 €  722,55 €,                            0         1         2
0      Silver price per Gram  0,7225 €  0,7200 €
1     Silver price per Ounce   22,47 €   22,47 €
2  Silver price per Kilogram  722,55 €  722,55 €]

In [11]:
# Example usage
url = 'https://www.lavetadeoro.com/'
tableslvo = extract_tables(url)
#for table in tables:
#  print(table)
#print(tables[0]['Precio'])

In [12]:
AuCoins=convert_price_string_to_float(tableslvo[2],'Precio')
AuCoins

,Moneda,Precio,Premium *,Peso (oro)*,Tienda
0,Krugerrand-1 oz.-Sudáfrica-Varios Años,1.807,"1,98 %","31,10 g",Thegoldhouse
1,50 Pesos-México-Centenario-Varios Años.,2.180,"1,98 %","37,50 g",Thegoldhouse
2,100 Coronas-Austria-Francisco José I,1.779,"2,39 %","30,49 g",Thegoldhouse
3,50$ Dollar-Canadá-1 oz.-Maple Leaf-Varios Años,1.817,"2,50 %","31,10 g",Thegoldhouse
4,100$ Dollar-Australia-1 oz.-Dragón-Varios Años.,1.817,"2,50 %","31,10 g",Thegoldhouse
...,...,...,...,...,...
338,150 Dolares Canada Año del Mono 2004. Estuche ...,858.690,-,-,Ciode
339,150 Dolares Canada. Año de la Oveja 2003. Estu...,858.690,-,-,Ciode
340,Canada. 150 Dolares.Moneda Oro Proof. AÑO De L...,758.640,-,-,Ciode
341,Moneda oro 80.000 Pesetas Quinto centenario Ca...,1.722,-,-,Ciode
342,Cápsulas para monedas Ultra ajuste perfecto pa...,5.000,-,"31,10 g",Ciode

In [13]:
AgCoins=convert_price_string_to_float(tableslvo[56],'Precio')
AgCoins

,Moneda,Precio,Premium *,Peso (plata)*,Tienda
0,Moneda 1 Onza /31.10 Gramos Plata Filarmonica ...,26.63,"18,88 %","31,10 g",Ciode
1,Moneda Onza Plata Arca de Noe /31.10 Gramos Va...,26.85,"19,87 %","31,10 g",Ciode
2,Moneda de PLATA Toro y Oso de 1 oz,27.24,"21,61 %","31,10 g",Cmc
3,Moneda de PLATA Diosa Europa de 1 oz,27.29,"21,83 %","31,10 g",Cmc
4,Moneda 2 Libras 1 Oz / 31.10 Gramos / Britanni...,27.33,"22,01 %","31,10 g",Ciode
...,...,...,...,...,...
198,Moneda de plata 1 Onza 31.10 Gramos TORTUGA MA...,80.15,"257,81 %","31,10 g",Ciode
199,Moneda de plata 1 Onza 31.10 Gramos TORTUGA ES...,80.15,"257,81 %","31,10 g",Ciode
200,Moneda de Plata Dioses del Olimpo - Afrodita 2...,97.19,"333,88 %","31,10 g",Andorrano
201,Moneda de Plata Jubileo Platino Isabel II 2022...,202.19,"802,63 %","31,10 g",Andorrano
202,Bandeja de 30 monedas de PLATA Panda de China ...,956.37,"4.326,06 %","30,00 g",Cmc

In [14]:
AuIngots=convert_price_string_to_float(tableslvo[25],'Precio')
AuIngots

,Lingote,Precio,Premium *,Peso (oro) *
0,100g Lingote de Oro | Valcambi | Fundido,5.775,"1,31 %","100,00 g"
1,100g Lingote de Oro | Argor Heraeus | fundido,5.778,"1,36 %","100,00 g"
2,250g Lingote de Oro | Argor-Heraeus | Fundido,14.461,"1,47 %","250,00 g"
3,100g Lingote de Oro | Argor-Heraeus | Acuñada,5.787,"1,52 %","100,00 g"
4,100g Lingote de Oro | Argor-Heraeus | Kinebar,5.789,"1,56 %","100,00 g"
...,...,...,...,...
74,1g Lingote de Oro | Argor-Heraeus | Año del Co...,71.020,"24,58 %","1,00 g"
75,1g Lingote de Oro | Valcambi | Green Gold,71.480,"25,39 %","1,00 g"
76,1g Britannia Lingote de Oro | Royal Mint,72.330,"26,88 %","1,00 g"
77,1g Lingote de Oro | Feliz Navidad | The Royal ...,77.330,"35,65 %","1,00 g"
78,5g Lingote de Oro Good Luck in the Lunar New Y...,411.640,"44,42 %","5,00 g"

In [15]:
nAg=convert_price_string_to_float_v2(tableAg[0],1)
print(nAg)

          Silver Spot Prices  Silver Price Today    Change
0      Silver price per Gram              0.7225  0,7200 €
1     Silver price per Ounce             22.4700   22,47 €
2  Silver price per Kilogram            722.5500  722,55 €

C:\Users\Guillermo\AppData\Local\Temp\ipykernel_28592\3223626540.py:15: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:, column_index] = df.iloc[:, column_index].astype(float)

In [16]:
nAu=convert_price_string_to_float_v2(tableAu[0],1)
print(nAu)

          Gold Spot Prices   Today       Change
0      Gold price per Gram  57.100      57,10 €
1     Gold price per Ounce   1.776   1.776,09 €
2  Gold price per Kilogram  57.102  57.102,62 €

C:\Users\Guillermo\AppData\Local\Temp\ipykernel_28592\3223626540.py:15: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:, column_index] = df.iloc[:, column_index].astype(float)

In [17]:
url = 'https://www.echomtg.com/set/SEAL/sealed-product/'
tablesechomtg = extract_tables(url)
print(tablesechomtg[0].columns)
tablesechomtg[0]

Index(['Unnamed: 0', 'Name', 'Rarity', 'C#', 'Change', 'Reg. Price',
       'Foil Price'],
      dtype='object')

,Unnamed: 0,Name,Rarity,C#,Change,Reg. Price,Foil Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Portal Three Kingdoms - Booster Box,sealed,0,NaN,$40714.95 / $40714.95,NaN
2,NaN,Revised Edition - Booster Box,sealed,1,NaN,$28000 / $11999.99,NaN
3,NaN,Urza's Saga - Booster Box,sealed,1,NaN,$11000 / $9807.98,NaN
4,NaN,Urza's Legacy - Booster Box,sealed,0,NaN,$9130.45 / $8764.94,NaN
...,...,...,...,...,...,...,...
1482,NaN,Mercadian Masques Theme Deck - Tidal Mastery,sealed,0,NaN,$25,NaN
1483,NaN,Urza's Destiny Theme Deck - Enchanter,sealed,0,NaN,$99,NaN
1484,NaN,Urza's Legacy Theme Deck - Radiant's Revenge,sealed,0,NaN,$63.99,NaN
1485,NaN,10th Edition Theme Deck - Arcanis's Guile,sealed,0,NaN,$56.7,NaN
1486,NaN,Judgment Theme Deck - Painflow,sealed,0,NaN,$29.99,NaN

In [18]:
url = 'https://www.ultimatetennisstatistics.com/'
url = 'https://www.tennisexplorer.com/results/'
tennis = extract_tables(url)
tennis[0]

,0,1,2,3,4,5,6,7,8,9,10,11
0,Tigre 2 challenger,Tigre 2 challenger,S,1,2,3.0,4.0,5.0,H,A,NaN,NaN
1,16:10,Cerundolo J. (2),2,6,2,6.0,NaN,NaN,1.46,2.62,NaN,info
2,16:10,De Jong J.,1,3,6,2.0,NaN,NaN,1.46,2.62,NaN,info
3,Futures 2023,Futures 2023,S,1,2,3.0,4.0,5.0,H,A,NaN,NaN
4,11:30,Oberleitner N.,2,6,6,NaN,NaN,NaN,2.60,1.43,NaN,info
...,...,...,...,...,...,...,...,...,...,...,...,...
91,15:25,Mertens Y.,0,2,1,NaN,NaN,NaN,1.29,3.31,NaN,info
92,15:25,Clarke J. (1),2,6,6,NaN,NaN,NaN,1.01,10.66,NaN,info
93,15:25,Ortiz Gonzalez K.,0,3,1,NaN,NaN,NaN,1.01,10.66,NaN,info
94,15:45,Blanch U.,2,3,7,6.0,NaN,NaN,2.17,1.61,NaN,info
95,15:45,Medjedovic H. (2),1,6,5,3.0,NaN,NaN,2.17,1.61,NaN,info

In [19]:
# https://www.footballdatabase.eu/es/
url = 'https://www.footballdatabase.eu/es/club/equipo/3270-vizela/2022-2023'
url = 'https://www.footballdatabase.eu/es/jugador/detalles/275031-marcus-rashford'
url = 'http://www.futbol360.com.ar/jugadores/argentina/messi-lionel/'
soccer = extract_tables(url)
soccer

[                                     0  \
 0                     Partidos Jugados
 1                    Goles Convertidos
 2                       Amonestaciones
 3                          Expulsiones
 4                  Penales convertidos
 5  Penales convertidos en definiciones
 6                Puntaje de los medios
 7              Puntaje de los usuarios

                                                    1
 0  1026 (702-197-127) (incluye 22 en seleccionado...
 1  807 (0.86) (incluye 13 en seleccionados juveni...
 2                                          94 (0.10)
 3                                              3 (0)
 4                                       110 (78.01%)
 5                                         8 (88.89%)
 6                                               6.95
 7                                               6.47  ,
    Temporada                              Equipo  PJ    MJ  Tit.  Sup.  \
 0    2022/23                       Argentina PSG  30  2653    29     1
 1    2021/22                       Argentina PSG  45  3785    42     3
 2    2020/21                 Argentina Barcelona  60  5362    58     2
 3    2019/20                 Argentina Barcelona  46  3991    44     2
 4    2018/19                 Argentina Barcelona  58  4703    51     7
 5    2017/18                 Argentina Barcelona  64  5370    58     6
 6    2016/17                 Argentina Barcelona  57  4900    55     2
 7    2015/16                 Argentina Barcelona  59  4960    54     5
 8    2014/15                 Argentina Barcelona  67  5888    65     3
 9    2013/14                 Argentina Barcelona  57  4744    53     5
 10   2012/13                 Argentina Barcelona  62  5033    54    10
 11   2011/12                 Argentina Barcelona  69  6031    66     3
 12   2010/11                 Argentina Barcelona  66  5564    59     9
 13   2009/10                 Argentina Barcelona  64  5385    57     8
 14   2008/09  Argentina Argentina S-23 Barcelona  65  5153    55    13
 15   2007/08  Argentina Argentina S-23 Barcelona  51  3871    45     6
 16   2006/07                 Argentina Barcelona  46  3538    40     7
 17   2005/06                 Argentina Barcelona  35  1873    21    18
 18   2004/05            Argentina S-20 Barcelona  25  1334    12    25

       Record Unnamed: 7   Unnamed: 8 Unnamed: 9 Unnamed: 10  Puntaje medios
 0     25-4-1  25 (0.85)   5 (83.33%)   1 (0.03)       0 (0)            8.36
 1    28-12-5  21 (0.50)      3 (75%)   1 (0.02)       0 (0)            7.38
 2   37-12-11  44 (0.74)  10 (76.92%)   6 (0.10)    1 (0.02)            7.04
 3    28-10-8  33 (0.74)   6 (85.71%)   7 (0.16)       0 (0)            7.50
 4    39-12-7  54 (1.03)   6 (85.71%)   2 (0.04)    1 (0.02)            6.12
 5    42-16-6  52 (0.87)      4 (50%)   8 (0.13)       0 (0)            6.45
 6     42-7-8  57 (1.05)  10 (90.91%)   9 (0.17)       0 (0)            6.38
 7     44-9-6  50 (0.91)   5 (55.56%)   6 (0.11)       0 (0)            7.23
 8     52-7-8  62 (0.95)   8 (66.67%)   7 (0.11)       0 (0)            7.11
 9    37-13-7  48 (0.91)  10 (83.33%)   3 (0.06)       0 (0)            6.27
 10   41-14-7  69 (1.23)   7 (87.50%)   2 (0.04)       0 (0)            7.11
 11   50-14-5  82 (1.22)  15 (83.33%)   9 (0.13)       0 (0)            7.77
 12   45-14-7  57 (0.92)      6 (75%)   4 (0.06)       0 (0)            7.91
 13    47-9-8  48 (0.80)     3 (100%)   7 (0.12)       0 (0)            5.94
 14   46-13-6  43 (0.75)   4 (66.67%)   6 (0.10)       0 (0)            6.17
 15   28-15-8  19 (0.44)   5 (83.33%)   7 (0.16)       0 (0)            6.19
 16   27-8-11  21 (0.53)     1 (100%)   5 (0.13)       0 (0)            6.00
 17    26-4-5  10 (0.48)            -   2 (0.10)    1 (0.05)            7.22
 18    18-4-3  12 (0.81)     2 (100%)   2 (0.13)       0 (0)            0.00  ]

In [20]:
def extract_classes(url, class_name):
    # Get the HTML content of the page
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    # Extract all elements with the given class name
    elements = soup.find_all(class_=class_name)
    return elements
def extract_job_data_nestle():
    url = 'https://www.nestle.com/jobs/search-jobs?keyword=marketing&country=CH&location=&career_area=4351&sort_bef_combine=created_DESC'
    jc = extract_classes(url, 'jobs-card')
    job_title_list = []
    job_link_list = []
    location_list = []
    for job in jc:
        job_title = job.find('div', class_='jobs-title')
        job_title1 = job_title.find('a').text
        job_link = job_title.a.attrs['href']
        location = job.find('div', class_='jobs-location').get_text(strip=True)
        job_title_list.append(job_title)
        job_link_list.append(job_link)
        location_list.append(location)
    data = {'job_title': job_title_list, 'job_link': job_link_list, 'location': location_list}
    df = pd.DataFrame(data)
    return df

In [21]:
url = 'https://www.nestle.com/jobs/search-jobs?keyword=marketing&country=CH&location=&career_area=4351&sort_bef_combine=created_DESC'
jc = extract_classes(url,'jobs-card')
#print(jc[0])
job_title = jc[0].find('div', class_='jobs-title')
job_title1 = job_title.find('a').text
print(job_title1)
job_link = job_title.a.attrs['href']
print(job_link)
location = jc[0].find('div', class_='jobs-location').get_text(strip=True)
print(location)

Consumer & Marketplace Insights Specialist
https://jobdetails.nestle.com/job/La-Tour-de-Peilz-Consumer-&-Marketplace-Insights-Specialist/891174601/?feedId=256801&utm_source=NestleCareers
La Tour-de-Peilz,  Switzerland

In [22]:
url = 'https://www.pgcareers.com/search-jobs?k=marketing&ascf=[{%27key%27:%27custom_fields.Language%27,%27value%27:%27English%27},]&alp=2658434&alt=2'
PG = extract_classes(url,'results__item')
print(PG[0])
#PG[0].find('div', class_='jobs-title')
link = 'https://www.pgcareers.com'+PG[0].a.attrs['href']
#PG[0].find('div', class_='jobs-title')

<li class="results__item">
<a class="results__item-link" data-job-id="42550948656" href="/job/petit-lancy/consumer-and-market-knowledge-analytics-intern-m-f-x/936/42550948656">
<h2 class="results__item-heading">Consumer &amp; Market Knowledge - Analytics Intern (m/f/x)</h2>
<span class="job-location results__item-facet">

                                            Petit Lancy, Canton of Geneva, Switzerland


                                        </span>
<span class="job-type results__item-facet">Full time</span>
</a>
</li>

In [23]:
url = 'https://careers.coty.com/search/?createNewAlert=false&q=&optionsFacetsDD_department=Marketing&optionsFacetsDD_country=CH&optionsFacetsDD_city=&optionsFacetsDD_customfield5='
COTY = extract_classes(url,'tiletitle')
COTY

[<div class="tiletitle">
 <span class="sr-only">Title</span>
 <span class="col-md-12 section-title title" style='font-family:"Trebuchet MS", Helvetica, sans-serif; font-size:14px;'>
 <a aria-describedby="jobSearchTileHelpText-879610901" class="jobTitle-link fontcolor9c3a0fbd" data-focus-tile=".job-id-879610901" href="/job/Geneva-E-commerce-and-Digital-Manager-Travel-Retail-Europe-GE-1213/879610901/">
                     E-commerce and Digital Manager Travel Retail Europe
                 </a>
 </span>
 </div>,
 <div class="tiletitle">
 <span class="sr-only">Title</span>
 <span class="col-md-12 section-title title" style='font-family:"Trebuchet MS", Helvetica, sans-serif; font-size:14px;'>
 <a aria-describedby="jobSearchTileHelpText-879610901" class="jobTitle-link fontcolor9c3a0fbd" data-focus-tile=".job-id-879610901" href="/job/Geneva-E-commerce-and-Digital-Manager-Travel-Retail-Europe-GE-1213/879610901/">
                     E-commerce and Digital Manager Travel Retail Europe
                 </a>
 </span>
 </div>,
 <div class="tiletitle">
 <span class="sr-only">Title</span>
 <span class="col-md-12 section-title title" style='font-family:"Trebuchet MS", Helvetica, sans-serif; font-size:14px;'>
 <a aria-describedby="jobSearchTileHelpText-879610901" class="jobTitle-link fontcolor9c3a0fbd" data-focus-tile=".job-id-879610901" href="/job/Geneva-E-commerce-and-Digital-Manager-Travel-Retail-Europe-GE-1213/879610901/">
                     E-commerce and Digital Manager Travel Retail Europe
                 </a>
 </span>
 </div>]

In [24]:
import smtplib

def send_email(to_email, subject, body):
    FROM = 'your_email@example.com'
    TO = to_email
    SUBJECT = subject
    BODY = body
    PASSWORD = 'your_email_password'

    # Prepare the message
    message = f"""\
    From: {FROM}
    To: {TO}
    Subject: {SUBJECT}
    {BODY}"""

    try:
        server = smtplib.SMTP('smtp.gmail.com', 587)
        server.ehlo()
        server.starttls()
        server.login(FROM, PASSWORD)
        server.sendmail(FROM, TO, message)
        server.close()
        print(f'Email sent to {TO}!')
    except Exception as e:
        print(f'Something went wrong... {e}')
def new_elements(df1, df2):
    new_elements = pd.concat([df2, df1]).drop_duplicates(keep=False)
    return new_elements
def send_email_with_new_data(df1, df2, to_email):
    new_data = new_elements(df1, df2)
    if new_data.empty:
        print("No new data")
    else:
        subject = "New Job Offer"
        body = "New Job Offers:\n" + new_data.to_string()
        send_email(to_email, subject, body)

In [25]:
def get_file_creation_date(file_path):
    if os.path.exists(file_path):
        ctime = os.path.getctime(file_path)
        return datetime.fromtimestamp(ctime)
    else:
        raise FileNotFoundError(f"{file_path} does not exist.")

# Extract selling price of gold coins

# Extract selling price for Brandon books

In [34]:
import requests
from bs4 import BeautifulSoup

# Make a request to the eBay website
url = 'https://www.ebay.fr/sch/i.html?_from=R40&_nkw=signed%20the%20way%20of%20kings%20leatherbound&_sacat=0&LH_TitleDesc=0&LH_PrefLoc=2&rt=nc&_udlo=200'
r = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(r.content, 'html.parser')

# Extract the prices of the items
prices = [price.get_text() for price in soup.select('.s-item__price')]
prices = prices[1:5]
# Print the prices
print(prices)

# Extract the titles of the items
titles = [title.get_text() for title in soup.select('.s-item__info.clearfix a')]
titles= titles[1:5]
# Create a list of words that you are not interested in
words_to_filter = [ 'hardcover', 'Prime']
# Iterate through the titles and prices
for title, price in zip(titles, prices):
    if not any(word in title.lower() for word in words_to_filter):
        print(title, price)

['974,19 EUR', '623,30 EUR', '784,89 EUR', '737,80 EUR']
SIGNED The Way of Kings Leatherbound by Brandon Sanderson + SwagOpens in a new window or tab 974,19 EUR
Brandon Sanderson SIGNED Way of Kings Stormlight Archive 1 Leatherbound 1st EditOpens in a new window or tab 623,30 EUR
The Way of Kings Leatherbound Signed LIMITED EDITION (unopened in box)Opens in a new window or tab 784,89 EUR
THE WAY OF KINGS leather bound SIGNED by Brandon Sanderson 10th Anniversary Ed.Opens in a new window or tab 737,80 EUR

In [52]:

# Make a request to the eBay website
url = 'https://collectingsanderson.com/auctions/'
from bs4 import BeautifulSoup
import requests

def extract_col_md_classes(url):
    # Make a request to the website
    r = requests.get(url)
    soup = BeautifulSoup(r.content, 'html.parser')
    # Find all divs with the class "col-md"
    divs = soup.find_all("div", {"class": "col-md"})
    # Extract the text inside each div
    texts = [div.get_text() for div in divs]
    return texts

# Example usage
texts = extract_col_md_classes(url)
#print(texts)
def remove_newlines(tuple_):
    new_tuple = tuple(string.replace("\n", "") for string in tuple_)
    return new_tuple

# Example usage
example_tuple = ("Example\nString\n1", "Example\nString\n2", "Example\nString\n3")
texts=remove_newlines(texts)
import pandas as pd

def create_df_from_tuple(tuple_):
    data = []
    for string in tuple_:
        title, price = string.split("$")
        title = title.replace("\t", "")
        title = title.replace("New", "")
        data.append({"title": title, "price": price})
    df = pd.DataFrame(data)
    df['sold'] = df['title'].apply(lambda x: 1 if 'SOLD' in x else 0)
    df['title'] = df['title'].replace("SOLD OUT", "", regex=True)
    df['title'] = df['title'].replace("SOLD", "", regex=True)
    df['title'] = df['title'].replace("Sold out", "", regex=True)
    df['title'] = df['title'].replace("Sold", "", regex=True)

    return df

# Example usage
example_tuple = ("Example String 1$100", "Example String 2$200", "Example String 3$300")
df = create_df_from_tuple(texts)
print(df)
def convert_and_sort_df(df, column):
    df[column] = pd.to_numeric(df[column], errors='coerce')
    df = df.sort_values(by=[column], ascending=False)
    return df
def remove_nan_rows(df, column):
    df = df.dropna(subset=[column])
    return df
remove_nan_rows(convert_and_sort_df(df,'price'),'price')

                                                 title   price  sold
0    The Well of Ascension (Mistborn Book 2) Hardco...   27.97     0
1    Arcanum Unbounded: The Cosmere Collection by B...   27.50     0
2           Skyward, Sanderson, Brandon, 9780399555770   41.49     0
3    Robert Jordan -  Signed Page  - Author of the ...   18.32     0
4    The Stormlight Archive: Rhythm of War : Book F...  400.00     0
..                                                 ...     ...   ...
195  Brandon Sanderson's Rhythm of War: UK Edition....      18     0
196  Brandon Sanderson's Elantris: UK Cover. Paperb...      13     0
197  The MistBorn Trilogy 3 Book Set.   .   SEALED....      30     1
198   Fairyloot exclusive edition of The Way of Kin...     213     0
199   Fairyloot exclusive edition The Way of Kings ...     130     1

[200 rows x 3 columns]

                                                 title   price  sold
19   SIGNED The Way of Kings Leatherbound by Brando...  1000.0     0
5    Warbreaker 10th anniversary dragonsteel leathe...  1000.0     0
70   Brandon Sanderson LEGION 1st edition and LEGIO...   850.0     0
52   Mistborn leatherbound Brandon Sanderson 795 Si...   800.0     0
92   Brandon Sanderson The Way of Kings SIGNED 1st ...   750.0     0
..                                                 ...     ...   ...
156  GoodMistborn - Brandon Sanderson Paperback Boo...     6.0     0
147  GoodMistborn - Brandon Sanderson Paperback Boo...     6.0     0
145  Like newSmoke free home Never been readHardcov...     6.0     0
26   Calamity The Reckoners - hardcover, Brandon Sa...     5.0     0
143  Like newPaperbackSmoke free home Never been re...     5.0     0

[192 rows x 3 columns]